[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytz = "*"
python-slugify = "*"
argon2-cffi = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
djangorestframework = "*"
django-taggit = "*"
dj-taggit-serializer = "*"
django-cors-headers = "*"
drfpasswordless = "*"
django-storages = { extras = ["boto3"], version = "*" }
django-anymail = { extras = ["mailgun"], version = "*" }
Pillow = "*"
Django = "~=4.1.0"
gunicorn = "*"
sentry-sdk = "*"
django-stubs = "*"
django-extensions = "*"
django-mjml = "*"
sorl-thumbnail = "*"
django-taggit-labels = "*"
django-debug-toolbar = "*"
slackclient = "*"
typing-extensions = "*"
pytest-mock = "*"
django-upgrade = "*"
django-browser-reload = "*"
django-tailwind = "*"
django-filter = "*"
django-autocomplete-light = "*"
django-htmx = "*"
django-gravatar2 = "*"
markdown = "*"
markdown-it-py = "*"
gspread = "*"
rich = "*"
shortuuid = "*"
django-widget-tweaks = "*"
ipdb = "*"
airtable-python = "*"
pyairtable = "*"

# needed to build with python 3.12
# https://github.com/aio-libs/aiohttp/issues/7675
# aiohttp = "3.9.0rc0"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-django = "*"
pytest-notifier = "*"
flake8 = "*"
flake8-isort = "*"
coverage = "*"
django-coverage-plugin = "*"
pylint-django = "*"
pre-commit = "*"
factory-boy = "*"
black = "*"
djlint = "*"
pdbpp = "*"
pytest-factoryboy = "*"
awscli = "*"
awscli-plugin-endpoint = "*"
