[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytz = "*"
python-slugify = "*"
argon2-cffi = "*"
whitenoise = "*"
# can we remove these with django 4
redis = "*"
hiredis = "*"
psycopg2-binary = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
djangorestframework = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-cors-headers = "*"
drfpasswordless = "*"
django-storages = { extras = ["boto3"], version = "*" }
django-anymail = { extras = ["mailgun"], version = "*" }
Pillow = "*"
Django = "~=3.2.0"
gunicorn = "*"
sentry-sdk = "*"
django-stubs = "*"
django-extensions = "*"
django-mjml = "*"
sorl-thumbnail = "*"
django-taggit-labels = "*"
django-debug-toolbar = "*"
slackclient = "*"
typing-extensions = "*"
pytest-mock = "*"

[dev-packages]
ipdb = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
flake8 = "*"
flake8-isort = "*"
coverage = "*"
pylint-django = "*"
pre-commit = "*"
factory-boy = "*"
django-coverage-plugin = "*"
pytest-django = "*"
pytest-notifier = "*"
rich = "*"
black = "*"
