{% load gravatar %}
<div class="active-tags w-4/5 mx-auto">
  {% if active_tags %}
    <h3>Active tags</h3>
    {% for active_tag in active_tags %}
      <span class="badge my-2 mx-1 p-4 hover:bg-red-900 hover:shadow-lg hover:cursor-pointer"
            data-tag-name="{{ active_tag.name }}"
            data-tag-id="{{ active_tag.tag.id }}">{{ active_tag.name }}</span>
    {% endfor %}
  {% endif %}
</div>
<div class="ml-4 pa-4 text-center">
  <p class="text-xl inline-block ">Showing {{ paginated_profiles|length }} profile{{ paginated_profiles|pluralize }}</p>
</div>
{% for profile in paginated_profiles %}
  <div class="card w-96 bg-base-100 mb-1">
    {% comment %}
      We want our whole div to be clickable, hence the htmx-get, and cursor-pointer
      We use flex box row to have the image and text blocks side by side
    {% endcomment %}
    <div class="card-body flex-row hover:bg-yellow-100 hover:shadow-lg hover:cursor-pointer"
         hx-get="{% url 'profile-detail' profile.short_id %}"
         hx-target="#profile-slot"
         hx-include="#filter-form"
         hx-push-url="true">
      <div class="profile-thumb w-1/5">
        {% if profile.photo %}
          <img src="{{ profile.thumbnail_photo }}" />
        {% else %}
          {% gravatar profile.user.email 150 %}
        {% endif %}
      </div>
      <div class="w-4/5">
        <h4 class="card-title">
          <a href="{% url 'profile-detail' profile.short_id %}">{{ profile.name }}
            {% comment %}
            Rank refers to the search rank scoring in Django postgres. 
            {{ profile.rank }} 
            See fetch_profile_list() in the view for more info, and for surfacing these numbers
            if necessary.
            {% endcomment %}
          </a>
        </h4>
        <p>
          {% for tag in profile.tags_with_no_grouping|slice:":4" %}
            <span class="badge mx-1" data-tag-name="{{ tag.tag.name }}">{{ tag.name }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
<script>
  document.querySelectorAll('.active-tags .badge').forEach(item => {
    item.addEventListener('click', event => {
      const selectorString = `#id_tags option[value="${event.target.dataset.tagId}"]`
      const chosenTagOption = document.querySelector(selectorString)
      // toggle the selected status of the tag
      chosenTagOption.selected = !chosenTagOption.selected
      // announce the toggle event the profile list can listen for it 
      //and update accordingly
      document.body.dispatchEvent(new Event("toggle-tag"))
    })
  })
</script>
