{% load gravatar %}
<div class="overflow-y-auto overflow-x-hidden max-h-[70vh]">
  {% for profile in paginated_profiles %}
    <div class="profile card w-96 bg-base-100 mb-1">
      {% comment %}
      We want our whole div to be clickable, hence the htmx-get, and cursor-pointer
      We use flex box row to have the image and text blocks side by side
      {% endcomment %}
      <div class="card-body flex-row hover:bg-yellow-100 hover:shadow-lg hover:cursor-pointer"
           hx-get="{% url 'profile-detail' profile.short_id %}"
           hx-target="#profile-slot"
           hx-include="#filter-form"
           hx-push-url="true">
        <div class="profile-thumb w-1/5">
          {% if profile.photo %}
            <img src="{{ profile.thumbnail_photo }}"  class="rounded" />
          {% else %}
            {% gravatar profile.user.email 150 "Profile via gravatar.com" "rounded" %}
          {% endif %}
        </div>
        <div class="w-4/5">
          <h4 class="card-title">
            <a href="{% url 'profile-detail' profile.short_id %}"
               hx-get="{% url 'profile-detail' profile.short_id %}"
               hx-target="#profile-slot"
               hx-include="#filter-form"
               hx-push-url="true">
              {{ profile.name }}
              {% comment %}
            Rank refers to the search rank scoring in Django postgres. 
            {{ profile.rank }} 
            See fetch_profile_list() in the view for more info, and for surfacing these numbers
            if necessary.
              {% endcomment %}
            </a>
          </h4>
          <p>
            {% for tag in profile.tags_with_no_grouping|slice:":4" %}
              <span class="badge mx-1" data-tag-name="{{ tag.tag.name }}">{{ tag.name }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
