{% load static %}
{% load account socialaccount %}
<style>
  .cat-navy-blue {
    background-color: #004884;
  }
</style>
<header class="cat-navy-blue grid grid-cols-[1fr_minmax(auto,70rem)_1fr]">
    <div></div>
    <div>
        <div class="flex justify-between items-center">
            <div class="justify-self-start">
                <a class="btn btn-ghost normal-case text-xl max-w-xs">
                    <img src="{% static 'img/CAT-logo.png' %}" />
                </a>
            </div>
            <div class="justify-self-end"></div>
        </div>
    </div>
    <div></div>
</header>
