{% load static %}
{% load account socialaccount %}
<style>
  .navbar-container {
    background-color: #004884;
  }
</style>
<div class="navbar-container">
    <div class="navbar">
        <div class="container mx-auto">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl max-w-xs">
                    <img src="{% static 'img/CAT-logo.png' %}" />
                </a>
            </div>
            <div class="flex-none"></div>
        </div>
    </div>
</div>
