{% extends "account/base.html" %} 
{% load i18n %} 
{% load account %} 
{% block head_title %} {% trans "Delete Message" %} {% endblock %} {% block inner %}

<div class="mt-4 p-5 flex justify-center items-center">
    <div class="card w-[20rem] md:w-[25rem]" style="border: 1px solid gray">
      <div class="card-body">
        <h1 class="text-lg">{% trans "Account deleted" %}</h1>
        <!-- {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %} -->
        <div class="prose mt-4">
          <p class="text-black">
            {% trans "Your account has been removed." %}
          </p>
          <p class="text-black">
            {% trans "If you would like to rejoin, just email us" %}
          </p>
          <!-- <form
            method="POST"
            action="{% url 'account_reset_password' %}"
            class="password_reset"
          >
            {% csrf_token %}
            <div class="form-control w-full">
              {% comment %} <label class="label" for="{{ form.email.id_for_label }}">
                <span class="label-text">{{ form.email.label }}</span>
              </label> {% endcomment %}
              <input
                type="text"
                placeholder="Email"
                name="{{ form.email.html_name }}"
                class="input input-bordered w-full"
              />
            </div>
            <input
              class="btn border-[#ff4d11] bg-[#ff4d11] w-full mt-4"
              type="submit"
              value="{% trans 'Permanently delete my account' %}"
            />
            <input
              class="btn border-[#8bc34a] bg-[#8bc34a] w-full mt-4"
              type="submit"
              value="{% trans 'Just make me invisible for now' %}"
            />
            <input
              class="btn border-[#c8d4de] bg-[#c8d4de] w-full mt-4"
              type="submit"
              value="{% trans 'Go back' %}"
            />
          </form> -->
          <p class="font-bold text-black">
            {% blocktrans %}constellation@ib1.org{% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

