{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block inner %}
    <div class="bg-white-100 mt-4 px-4">
        <h1 class="text-2xl">
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                {% trans "Change Password" %}
            {% endif %}
        </h1>
        <div class="card">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                </p>
            {% else %}
                {% if form %}
                    <form method="post" action=".">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                <span class="label-text text-red-500 px-1">{{ field.errors }}</span>
                                <label class="label" for="{{ field.id_for_label }}">
                                    <span class="label-text">{{ field.label }}</span>
                                </label>
                                {{ field }}
                                {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                            </div>
                        {% endfor %}
                        <div class="card-actions items-center mt-4 border-t-indigo-500 content-center">
                            <input class="btn btn-primary"
                                   type="submit"
                                   name="action"
                                   value="{% trans 'change password' %}" />
                        </div>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock inner %}
