<div class="tag_list">
    {% for active_tag in active_tags %}
        <div class="relative inline-block group">
            <button type="button"
                    class="badge my-2 mx-1 p-4 bg-blue-500 hover:bg-red-700 hover:border-red-700 focus:bg-red-700 hover:shadow-lg hover:text-gray-200 relative"
                    data-tag-name="{{ active_tag.name }}"
                    data-tag-id="{{ active_tag.tag.id }}">{{ active_tag.name }}</button>
            <span class="absolute invisible group-hover:visible group-focus:visible h-3 w-3 top-1 right-0 rounded-full bg-red-700 text-white">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-3 w-3"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </span>
        </div>
    {% endfor %}
</div>
