<div class="tag_list">
    <span class="text-sm">Filter</span>
    {% for active_tag in active_tags %}
        <div class="relative inline-block group">
            <button type="button"
                    class="badge my-2 mx-1 p-2 text-xs bg-[#8bc34a] hover:bg-red-700 hover:border-red-700 border-[#8bc34a] focus:bg-red-700 hover:shadow-lg hover:text-gray-200 relative"
                    data-tag-name="{{ active_tag.name }}"
                    data-tag-id="{{ active_tag.tag.id }}">{{ active_tag.name }}</button>
        </div>
    {% endfor %}
</div>
