{% load gravatar %}
<div class="card-body">
    <h1 class="mb-0 text-3xl">{{ profile.name }}</h1>
    {% if can_edit %}
        <a href="{% url 'profile-edit' profile.short_id %}"
           class="btn btn-sm mt-2 mb-2 max-w-xs">Edit</a>
    {% endif %}
    {% if profile.photo %}
        <img src="{{ profile.detail_photo }}"
             width="250"
             height="250"
             alt="profile photo" />
    {% else %}
        {% gravatar profile.user.email 150 %}
    {% endif %}
    {% if profile_rendered_bio %}
        <h3>Bio</h3>
        <div class="prose">{{ profile_rendered_bio|safe }}</div>
    {% endif %}
    {% if grouped_tags %}
        {% for tag_group, tags in grouped_tags.items %}
            <h3>{{ tag_group }}</h3>
            <p>
                {% for tag_dict in tags %}
                    <span class="badge my-2 mx-1 p-4"
                          data-tag-name="{{ tag_dict.name }}"
                          data-tag-group="{{ tag_group }}"
                          data-tag-id="{{ tag_dict.tag.id }}">{{ tag_dict.name }}</span>
                {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
    {% if ungrouped_tags %}
        <h3>Other Tags</h3>
        <p>
            {% for tag_dict in ungrouped_tags %}
                <span class="badge my-2 mx-1 p-4"
                      data-tag-name="{{ tag_dict.name }}"
                      data-tag-group="{{ tag_group }}"
                      data-tag-id="{{ tag_dict.tag.id }}">{{ tag_dict.name }}</span>
            {% endfor %}
        </p>
    {% endif %}
    {{ active_tags }}
    <script>
        // when a user clicks on a tag, emit an event listing the nane of the tag being clicked
        // this is picked up by the parent component and used to filter the list of profiles
        // shown    
        document.querySelectorAll('.card-body .badge').forEach(item => {
            item.addEventListener('click', event => {
                // we can't just bubble up a 'click' event to the parent elements
                // and use that to update the list of profiles shown, because
                // it won't reflect the updated toggle list of tags yet in the 
                // filter form.
                // So, we have to manually update the list of active tags, and THEN
                // dispatch an event for our filter component to listen for
                let activeTags = document.querySelector('#id_tags')

                // you set a value on a multiple select by setting the 
                //'selected' property of a given option to true
                const selectorString = `#id_tags option[value="${event.target.dataset.tagId}"]`
                const chosenTagOption = document.querySelector(selectorString)
                chosenTagOption.selected = !chosenTagOption.selected

                // once we have updated the option list, we trigger
                // an DOM event our filter component to listen for,
                // and update the list of profiles shown
                document.body.dispatchEvent(new Event("toggle-tag"))

                // toggle the button active state 
                // TODO: figure out how to persist GET params in the 
                // URL so that we can use active tags to set the 
                // colour of the buttons instead
                event.target.classList.toggle('bg-blue-500')
            })
        })
    </script>
</div>
