{% load mjml %}
{% mjml %}
<mjml>
<mj-head>
<mj-title>Your Login Code for {{ constellation.site.name }}</mj-title>
</mj-head>
<mj-body>
<mj-section>
<mj-column>
<mj-text font-size="18px" line-height="1.5">
{% if user %}<p>Dear {{ user.profile.name }},</p>{% endif %}
<p>
    <strong>{{ callback_token }}</strong> is your code to
    log into {{ constellation.site.name }}. It is valid for 30 minutes. After this, you will need to request a new code.
</p>
<p>
    If you have any problems logging in, or you have not attempted to log in, please <a href="mailto:{{ support_email_address }}">contact support.</a>
</p>
</mj-text>
</mj-column>
</mj-section>
</mj-body>
</mjml>
{% endmjml %}
