{% load mjml %}

{% mjml %}
<mjml>
    <mj-head>
        <mj-title>Your Login Code</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text>

                <h2>Use this code to log in: {{ callback_token }}</h2>
                <h3>
Note: this login code is valid for the next 15 minutes, and can only be used once.
</h3>

    <h3>If you're still having trouble logging in, <a href="mailto:{{ support_email_address }}">please contact support</a>, or reply to this email.</h3>
            </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
{% endmjml %}
