{% load mjml %}

{% mjml %}
<mjml>
    <mj-head>
        <mj-title>Your Constellation Login Code</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text>
                {% if name %}
                <h3>
                    Dear {{name}},
                </h3>
                {% endif %}
                <h3>
                    {{ callback_token }} is your code to log into Icebreaker One’s constellation. It is valid for 15 minutes. After this, you will need to request a new code.
                </h3>

                <h3>
                    If you have any problems logging in, or you have not attempted to log in, please <a href="mailto:{{ support_email_address }}">contact support.</a>
                </h3>
            </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
{% endmjml %}
